// sass-lint:disable-block indentation
.app {
  display: grid;
  height: 100vh;
  grid-template-areas: 'header header'
                       'aside main'
                       'footer footer';
  grid-template-columns: 280px 1fr;
  grid-template-rows: 100px 1fr 100px;
}

.header {
  grid-area: header;
}

.aside {
  grid-area: aside;
}

.main {
  grid-area: main;
}

.footer {
  grid-area: footer;
}
